@model ResultViewModel[]

@{
    ViewBag.Title = "Результати";
    int index = 1;
}

@if (Model == null || Model.Length == 0)
{
    <h2>Дані відсутні</h2>
}
else
{
    <div class="tab-nav">
        <ul class="nav nav-tabs">
            @foreach (var result in Model)
            {
                <li id="nav-item-@result.Id" class="nav-item">
                    <a id="tab-@result.Id" href="#" class="tab nav-link @(index == 1 ? "tab-active nav-link-active" : string.Empty)">Вкладка №@(index++)</a>
                </li>
            }
        </ul>
    </div>

    <!--Graph section-->

    <div class="graph">
        @foreach (var resultTab in Model)
        {
            foreach (var kvp in resultTab.GraphData)
            {
                <div class="device-work">
                    <div class="device-id">
                        @kvp.Key
                    </div><div class="x-data">
                        @foreach (var row in kvp.Value)
                        {
                            string width = (row.Duration * 30).ToString() + "px";
                            string color = resultTab.ColorByPalleteWork[(int)row.PalleteWork];
                            <div style="width: @width; background-color: @color">@row.PalleteWork</div>
                        }
                    </div>
                    <div class="y-margin"></div>
                </div>
            }
            <div class="y-margin"></div><div class="y-margin"></div>
            <div class="x">
                @for (int i = 1; i <= resultTab.MaxDuration; i++)
                {
                    <div></div>
                }
                <div class="x-arrow">&#x21FE; t</div>
            </div>
        }
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(activateNavLink('nav-availableResults'));
    </script>
}