@{
    ViewBag.Title = "Розклад";
}

<br/>
<h5>Web додаток для знаходження розкладу виконання робіт за алгоритмами:</h5>
<br/>
<h6>А1 – алгоритм побудови початкового розкладу без простоїв</h6>
<h6>А2 – алгоритм побудови початкового розкладу з простоями</h6>
<h6>А3 – алгоритм побудови розкладу випадковим чином без простоїв</h6>
<h6>А4 – алгоритм побудови розкладу випадковим чином з простоями</h6>

@section scripts
{
    <script type="text/javascript">
        $(activateNavLink('nav-index'));
    </script>
}   