/* Definitions */

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Font/Roboto/Roboto-Light.ttf') format('truetype');
}

/* Global */

body {
    margin: auto;
    font-family: 'Roboto-Light';
    background-color: #EFEEE9;
}

nav {
    vertical-align: top;
    display: block;
    /*border-right: 3px #FFFFFF solid;*/
    padding-right: 15px;
    width: 600px;
    margin: 0 auto;
}

div {
    display: inline-block;
    vertical-align: top;
}

input[type="number"] {
    width: 100px;
}

form {
    padding-top: 20px;
}

/* Logo */

.logo {
    margin: 0 auto;
    display: block;
    height: 100px;
    width: 1110px;
    margin-bottom: 15px;
    background: url('../../Images/logo.png') no-repeat;
    background-size: 100%;
}

    .logo > div {
        padding-top: 6px;
        text-align: center;
        font-size: 24px;
    }

/* Tab */

.tab-section {
    display: block;
    width: 1070px;
    margin: 0 auto;
    margin-top: 20px
}

.tab-nav {
    display: block;
}

.tab-devices {
    width: 350px;
}

    .tab-devices .tab-devices-table {
        margin-top: 12px;
        display: block;
        height: 250px;
        overflow-y: auto;
    }

        .tab-devices .tab-devices-table > table {
            border: 1px solid #000000;
        }

.tab-active {
    font-weight: bold;
}
/*key value form*/
.key-value-section {
    margin-top: 20px;
    width: 300px;
    height: 270px;
    border: solid 0 #000000;
    overflow-y: auto;
}

.key-value-section-header {
    display: block;
    margin: 0 auto;
}

.key-value-section-header-padding {
    margin-left: 41px !important;
}

.key-value-section-header-col {
    display: inline-block;
    margin-left: 15px;
}

.key-value-div {
    display: block;
    padding-top: 5px;
    width: 75%;
    margin: 0 auto;
}

    .key-value-div input[type="text"] {
        height: 35px;
        width: 70px;
        margin-left: 30px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #000000;
        text-align: center;
    }

    .key-value-div label {
        text-align: center;
        width: 70px;
    }

.disable {
    display: none !important;
}

.block {
    display: block;
}

#result-message {
    display: block;
    text-align: center;
}

.control-buttons {
    margin-left: 200px
}

.control-button,
.control-button-low {
    width: 150px;
}

.control-button-low {
    margin-top: 15px
}

/* Plot */

.plot-grid {
    width: 1110px;
    margin-top: 15px;
}

    .plot-grid .plot-row {
        display: block;
        overflow-y: scroll;
        overflow-x: scroll;
        height: 300px;
    }

    .plot-grid .plot-name {
        display: block;
        padding-left: 40px;
        margin-top: 30px;
    }

    .plot-grid .chain {
        overflow-x: no-display !important;
        overflow-y: scroll;
        height: 150px;
        width: 250px;
    }

        .plot-grid .chain > table,
        .plot-grid .algorithm-legend > table {
            margin: 0 auto;
            border: 1px solid #000000
        }

    .plot-grid .algorithm-legend {
        padding-left: 42px;
        width: 400px;
    }

    .plot-grid .legend {
        padding-left: 32px;
        width: 400px;
    }

        .plot-grid .legend .legend-header {
            display: block;
            text-align: left;
            padding-left: 50px;
        }

.schedule-table-header > td {
    border: 1px solid #000000;
    text-align: center;
}

.schedule-table-header-row > td {
    text-align: center;
}

.plot {
    display: block;
    width: 100%;
    white-space: nowrap;
    position: relative;
}

    .plot .device-id {
        font-size: 14px;
        width: 19px;
        right: 2px;
        position: relative;
        text-align: right;
    }

    .plot .device-work {
        display: block;
    }

    .plot .plot-projection-C,
    .plot .plot-projection {
        position: absolute;
        border: 0;
    }

        .plot .plot-projection-C > span {
            font-size: 14px;
            font-weight: bold
        }

    .plot .plot-projection {
        background-image: url('../../Images/vertical-dash.png');
        background-repeat: repeat-y;
    }

    .plot .x-data {
        font-size: 0;
        white-space: nowrap;
        border-left: solid 1px #000000;
        margin-left: 4px;
    }

        .plot .x-data > div {
            display: inline-block;
            text-align: center;
            height: 25px;
            border: solid 1px #000000;
            font-size: 14px;
        }

    .plot .y-margin {
        height: 8px;
        width: 16px;
        border-right: solid 1px #000000;
        display: block;
        margin-left: 8px;
    }

    .plot .x {
        font-size: 0;
        margin-left: 23px;
        white-space: nowrap;
    }

        .plot .x > div {
            display: inline-block;
            border-bottom: solid 1px #000000;
        }

    .plot .x-arrow {
        font-size: 19px;
        color: black;
        position: relative;
        border: none !important;
        top: -14px;
        left: -3px;
    }

    .plot .y-arrow {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: relative;
        left: 16px;
        top: 6px;
    }
